* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 4em;
  background-color: #082032;
}
nav {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  height: 4em;
  object-fit: contain;
}
nav .btnAbrirBuscador {
  width: 50px;
  height: 50px;
  font-size: 2em;
  color: #fff;
  background: transparent;
  border: 1px solid #2c394b;
  cursor: pointer;
}

.contBuscador {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
}

.buscador {
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.buscador .btnRegresar {
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  color: #2c394b;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-right: 20px;
}

.buscador .contenedorBuscador {
  width: 90%;
  max-width: 1000px;
}
.buscador .contenedorBuscador input[type="text"] {
  width: 100%;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
}

.resultados {
  width: 80%;
  max-width: 920px;
  margin: 20px auto;
}

.resultados p {
  margin: 20px 0px;
  padding: 10px;
  text-transform: capitalize;
  font-size: 1.2em;
  cursor: pointer;
}

.cargando {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}

.parteArriba,
.parteAbajo {
  width: 100%;
  height: 50%;
}
.parteArriba img,
.parteAbajo img {
  width: 50%;
}
.parteArriba {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.parteAbajo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.contenedorPokemon {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.esconder {
  display: none;
}

.from ul {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  border: solid;
  justify-content: center;
  align-items: flex-start;
}

.from li {
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0, 50%);
  width: 600px;
  height: 20%;
  text-align: center;
}

.from h2 {
  text-align: center;
  padding: 1rem;
}

.botton {
  text-align: center;
  padding: 1rem;
}

.from p {
  text-align: center;
}
